@charset "UTF-8";
/**
 * 
 * @author Elvish (you@example.org)
 * @date    2019-07-05 21:01:32
 */

@import url('https://fonts.googleapis.com/css?family=PT+Sans|Slabo+27px&display=swap');

html{
		  scroll-behavior: smooth;
		}

#main{
    background: #C2AC96;
    padding: 80px;
}

.navbar-brand{
	font-size: 25px;
	color: black;
	font-family: 'PT Sans';
}

.nav-link{
	font-size: 18px;
	color: black;
	font-family: 'PT Sans';
}

#topbk{
	opacity: 0.5;
	/*height:120vh;*/
	width: 100%;
	/*margin-top: 0px;*/
	/*position: absolute;*/
	position: relative;
	z-index: -1;
}

#selfis{
	position: absolute;
	top: 20vh;
}

#paraimg1{
	height:50vh;
	/*width: 30vw;*/
	/*position: absolute;*/
	margin-top: -80vh;
	margin-left: -2vw;
	/*float: left;*/
	background-image: url('image/test.jpg');
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	/*background-size: cover;*/
	background-size: 100%;
}


#paraimg2{
	height:50vh;
	/*width: 30vw;*/
	/*position: absolute;*/
	margin-top: -80vh;
	/*margin-left: 9vw;*/
	/*float: right;*/
	background-image: url('image/test2.jpg');
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}


#words h3{
	font-size: 23px;
	font-family: 'PT Sans';
	line-height: 35px;
}

#image1{
	max-width: 80%;
	max-height: 80%;
	margin-bottom: 8vh;
}

.page-header{
	margin-bottom: 5vh;
	font-family: 'PT Sans';
}

.card{
	padding: 10px;
	background-color: #E4DBD2;
}

#chart{
	height: 300px;
}

.carousel-inner img{
	width: 30vw;
}

#carousel-images{
	margin-bottom: 15px;
}

#c-imgs{
	margin-bottom: 20px;
}

.page-footer{
	background-color: #E4DBD2;
}