@charset "UTF-8";
/**
 * 
 * @author Elvish (you@example.org)
 * @date    2019-07-05 21:01:32
 */

@import url('https://fonts.googleapis.com/css?family=PT+Sans|Slabo+27px&display=swap');

.navbar-brand{
	font-size: 25px;
	color: black;
	font-family: 'PT Sans';
}

.nav-link{
	font-size: 18px;
	color: black;
	font-family: 'PT Sans';
}

#topbk{
	opacity: 0.5;
	height:120vh;
	width: 100%;
	/*margin-top: 0px;*/
	/*position: absolute;*/
	z-index: -1;
}

#paraimg1{
	height:50vh;
	width: 30vw;
	/*position: absolute;*/
	margin-top: -80vh;
	margin-left: -2vw;
	float: left;
	background-image: url('image/test.jpg');
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	/*background-size: cover;*/
	background-size: 100%;
}


#paraimg2{
	height:50vh;
	width: 30vw;
	/*position: absolute;*/
	margin-top: -80vh;
	/*margin-left: 9vw;*/
	float: right;
	background-image: url('image/test2.jpg');
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#words{
	margin-top: 130vh;
}

#words h3{
	font-size: 25px;
	font-family: 'PT Sans';
}

#image1{
	max-width: 50%;
}
